<li class="todo-item">
  <div>
    <div class="title"><%= todo.title %></div>
    进度：<span style="color: red;"><%= todo.completed_percents %>%</span>
    <div class="progress progress-info progress-striped">
      <div class="bar" style="width: <%= todo.completed_percents > 0.5 ? todo.completed_percents : 0.5 %>%;"></div>
    </div>

    <%= render partial: "detail", locals: {todo: todo} %>
  </div>
</li>