<h3>待办事项</h3>

<ul>
  <%= render @todos %>
</ul>

<br />

<div class="add_todo ">
  <%= link_to new_todo_path, {class: 'btn btn-primary'} do %>
    <i class="icon-plus"></i> 新建待办事项
  <% end %>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "todos" %>
<% end %>
