// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

a.add_todo.btn {
  width: 100%;
  color: white;
}