// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.add_todo {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  a.btn {
    color: white;
    width: 100%;
  }
}

.redo_step {
  color: red;
}

h3.title {
  font-size: 20px;
  text-align: center;
}

div.title {
  font-size: 17px;
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid gray;
}